.CreateTodoButton {
  align-items: center;
  background-color: #61dafa;
  border-radius: 50%;
  border: none;
  bottom: 24px;
  box-shadow: 0 5px 25px rgba(97, 218, 250, 0.5);
  color: #fafafa;
  cursor: pointer;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  position: fixed;
  right: 24px;
  transform: rotate(0);
  transition: 0.3s ease;
  width: 64px;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}
